.navbar {
  height: var(--nav-size);
  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-alpha);
  text-decoration: none;
  font-family: Inter;
  font-size: calc(1rem + 1vw);
  font-weight: 800;

  strong {
    color: var(--text-color);
    animation-name: logoreverse;
    animation-duration: 400ms;

    @keyframes logoreverse {
      from {
        padding: 0 2px 0 3px;
      }

      to {
        padding: 0;
      }
    }

    &:hover {
      animation-name: logo;
      animation-duration: 400ms;
      animation-fill-mode: forwards;

      @keyframes logo {
        from {
          padding: 0;
        }

        to {
          padding: 0 2px 0 3px;
        }
      }
    }
  }
}

.wrapNavItem {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  width: calc(1rem + 3.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  --icon-size: calc(1rem + 1.7vw);
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms;

  &:hover {
    transform: rotate(20deg);
  }

  svg {
    fill: var(--text-color);
    width: 38px;
    height: 38px;

    path {
      fill: var(--color-alpha);
    }
  }
}