.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--master-margin);
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .text {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: calc(1rem + 5vw);

      &:nth-child(2) {
        padding-top: 1em;
        font-size: calc(1rem + 4vw);
      }

      strong {
        background-color: var(--color-alpha);
        padding: 0 10px;
      }
    }
  }

  img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;

    &:hover {
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }

    @keyframes shake {

      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }
}




// .card {
//   height: auto;
//   width: 100%;
//   display: flex;
//   overflow-y: auto;

//   img {
//     width: 40%;
//     margin: 1rem;
//   }
// }