@keyframes underline {
  from {
    background-size: 100% 5px;
  }

  to {
    background-size: 75% 5px;
  }
}

@keyframes underlineReverse {
  from {
    background-size: 75% 5px;
  }

  to {
    background-size: 100% 5px;
  }
}

.wrapper {
  height: 800px;
  padding: var(--padding);
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.hero h1 {
  font-size: calc(1rem + 6.5vw);
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.hero p {
  margin-top: 25px;
  word-wrap: break-word;
  padding: 0 30px 0 30px;
  font-size: calc(1rem + 1.7vw);
  font-weight: 500;
  line-height: calc(1vw + 1rem + 1.5vw);
  text-align: center;
}

.hero p strong {
  background-image: linear-gradient(to left, var(--subsubPrimary), var(--subPrimary));
  background-position: 0px 100%;
  background-repeat: no-repeat;
  background-size: 100% 5px;
  /* font-weight: normal; */
  animation-name: underlineReverse;
  animation-duration: 2s;
}

.hero p strong:hover {
  animation-name: underline;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.wrapSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapSignUp input {
  border: none;
  padding: var(--signUpPadding);
  font-size: calc(1rem + 0.2vw);
  outline: none;
  width: 30%;
}

.wrapSignUp input::placeholder {
  padding-left: 5px;
}

.wrapSignUp button {
  display: table;
  outline: none;
  cursor: pointer;
  font-size: calc(1rem + 0.2vw);
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: var(--signUpPadding);
  width: 15%;
  height: 100%;
  color: var(--text-color);
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .wrapSignUp input {
    width: 60%;
  }

  .wrapSignUp button {
    width: auto;
  }
}