.wrapper {
  height: 80vh;
  padding: var(--master-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;

  h1 {
    font-size: calc(1rem + 6.5vw);
    font-weight: 900;
    width: 100%;
    text-align: center;

    @media (max-width: 768px) {
      font-size: calc(1rem + 12vw);
    }
  }

  p {
    margin-top: 25px;
    word-wrap: break-word;
    padding: 0 30px 0 30px;
    font-size: calc(1rem + 1.7vw);
    font-weight: 500;
    line-height: calc(1vw + 1rem + 1.5vw);
    text-align: center;

    strong {
      background-image: linear-gradient(to left,
          var(--color-gamma),
          var(--color-alpha));
      background-position: 0px 100%;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      animation-name: underlineReverse;
      animation-duration: 2s;

      &:hover {
        animation-name: underline;
        animation-duration: 400ms;
        animation-fill-mode: forwards;

        @keyframes underline {
          from {
            background-size: 100% 5px;
          }

          to {
            background-size: 75% 5px;
          }
        }

        @keyframes underlineReverse {
          from {
            background-size: 75% 5px;
          }

          to {
            background-size: 100% 5px;
          }
        }
      }
    }
  }
}


.producthunt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}