.outerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 5%;

  .box {
    width: 100%;
    border: 5px solid var(--text-color);
    padding: calc(1rem + 1vw) calc(1rem + 2vw);

    h1 {
      text-align: center;
      font-size: calc(1rem + 4.5vw);
      font-weight: 900;
      text-shadow: var(--color-alpha) 7px 7px 0px;
    }
  }

}